@import '../../styles/foundation/settings.scss';
#step1.pageWrap{background-image:none;background-color:#08b9e4;padding:100px 0;}
form > .row{position:relative;margin-bottom:rem-calc(30);}
.autoCompleteList{position:absolute;z-index:1;top:rem-calc($input-height)+rem-calc(29);
  ul{background-color:$pure-white;max-height:$input-height*4;overflow-y:scroll;overflow-x:hidden; transition: all 0.2s;
    li{padding:rem-calc(2) rem-calc(5);    cursor: pointer;background-color:$pure-white;transition:background-color 0.2s;
      &:hover{background-color:$li-hover;}
      span.imageWrap{display:inline-block;width:rem-calc(50);height:rem-calc(50);margin-right:rem-calc(5);}
      .optionDetailsWrap{display: inline-block;
        span{display:block;}
      }
    }
  }
}
.fbRow .iconWrap{width:rem-calc(50);height:rem-calc(50);background-color:#4a90e2;position:absolute;top:rem-calc(27);right:0;    text-align: center;  padding-top: rem-calc(2.5); border-bottom-right-radius: 5px; border-top-right-radius: 5px;/*cursor:pointer;*/
  /*&:hover{background-color:#4281ca;}*/
  img{width:rem-calc(45);height:rem-calc(45)}
}
label > span{color:$pure-white;}
#step1 .btnWrap{margin:rem-calc(30) auto;
  button {
    background-color: $button-hover-blue;    padding-top: 10px;    padding-bottom: 10px;border-radius:5px;
    &:hover {
      background: $button-on-blue-hover-blue;
    }
  }
}