@import '../../styles/foundation/settings.scss';
@import '../../../bower_components/slick-carousel/slick/slick.scss';

#step3 {
  &.pageWrap{background-color: #08b9e4;}
  .vAlign{background-color:#08b9e4;}
  .subtitle{font-size:rem-calc(18);padding-top:rem-calc(10);line-height:1.5;color:$pure-white;}
  .pagination {right:-198px; color:$pure-white;
    .huge{letter-spacing:0px};line-height: 0.82;
  }
  .phone{max-width:rem-calc(500);    background-size: 100%;padding-top:6%;padding-bottom:100%;opacity:0;
    .inner{margin:0 auto;top:rem-calc(38);width:70%;
      .topPas{height:rem-calc(46);padding-top:rem-calc(18);
        .dynamic{height:rem-calc(9);}
      }
      .welcomeImages img{width:100%;}
    }
  }
  .iconColumn{width:46%;padding-bottom:44%;}
  .titleWrap {
    margin-bottom: rem-calc(0);
    h1.businessTitle {
      margin-bottom: 0;
    }
   /* h1,p{color:$black;}*/

  }
  .btnWrap{margin-top:rem-calc(30);margin-bottom:rem-calc(0);
    .button{margin-bottom:10px;    background-color: $button-on-blue-hover-blue;;
      &:hover{    background-color: $button-blue;}
    }
  }
}
.lightGreyBg{background-color:$lightGreyBg;}
.topPhone {  max-height: rem-calc(245);overflow:hidden;}
/*selected images*/
.images{text-align: center; background-color:$pure-white;padding:rem-calc(20) 0 rem-calc(11); position: relative;  background: #ffffff;  border-top: 1px solid $grey;border-bottom: 1px solid $grey;  height:211px;}
.slider{background-color:$black;height:0;overflow:hidden;transition:all 0.3s;padding-top:0;
  &.show{height:rem-calc(137);padding-top:rem-calc(20);}
}
.thumb{margin:0 auto;border-radius:3px;cursor:pointer;opacity:0.85;transition:all 0.2s;
  &:hover{opacity:1;}
}
.thumbWrap.slick-slide{position:relative;height:104px;}
.afterStriker{background-color:transparent;height:6px; width:45%;position:absolute;border-radius:5px;bottom: 0;  left: 50%;  margin-left: -25%;}
.selectedThumb .afterStriker{background-color:$pure-white;}
.borderWrap {  padding: 3px;  width: 142px;  height: 142px;  border: solid 3px transparent;  border-radius: 8px;    margin: 0 auto;}
.selected .borderWrap{border: solid 3px $black;}
.imageWrap{display:inline-block;text-align:center;overflow:hidden;position: relative;opacity:0;-webkit-animation-duration: 0.3s;   animation-duration: 0.3s;
  &.alwaysVisible{opacity:1!important;}
  &:hover{
    .blanket{background-color:rgba(0,0,0,0.5);background-image:url("../../styles/main/images/ic_edit.png");background-repeat:no-repeat;background-position:center center;};transition:all .2s;
    input{background-color:$lightGreyBg;}
  }
  .innerWrap {position:relative; height: rem-calc(130);      width: rem-calc(130);overflow:hidden;    border-radius: 5px;

    .blanket {      position: absolute;      width: 100%;      height: 100%;      top: 0;      left: 0;
      &.noHover{background-color:transparent;}
    }
  }
}
.image-gallery-content .image-gallery-left-nav {  left: -60px!important;top: 42px;}
.image-gallery-content .image-gallery-right-nav {  right: -60px!important;top: 42px;}
input.imageDescription {  border: none;  height: 30px;  margin-top: rem-calc(6);text-align:center;
  &:focus{background-color:$input-lightblue;}
}
/*slider*/
.slick-slide{height:rem-calc(90);width:rem-calc(90)}
.image-gallery-thumbnails{padding-top:0!important;}
.image-gallery-thumbnail{width:rem-calc(90);height:rem-calc(90);border-radius:5px;border:solid 1px transparent!important;overflow:hidden;padding-right:0px!important;margin-right:10px!important;
  img{height:rem-calc(90);width:auto!important;
    &:hover{}
  }
  &.active{border:solid 1px transparent!important;
    img{border:none!important;}
  }

}

/*the arrow*/
.images:after, .images:before {
  bottom: 100%;
  left: 61.2%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.images:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 20px;
  margin-left: -20px;

}
.images:before {
  border-color: rgba(208, 208, 208, 0);
  border-bottom-color: $grey;
  border-width: 21px;
  margin-left: -21px;
}

/*slider navigation*/
button.slick-prev, button.slick-next{position: absolute;    top: 23%;  width: rem-calc(50);
  &:before{content:" ";width:rem-calc(50);height:rem-calc(50);background-image:url("nav-sprite-opt.png");background-repeat:no-repeat;    display: block;}
  &:hover{
    &:before{background-position:0 bottom;}
  }
}
button.slick-prev{left: rem-calc(-70);
  &:before{background-position:left top;}
  &:hover{
    &:before{background-position:left bottom;}
  }
}
button.slick-next{right:rem-calc(-70);
  &:before{background-position:right top;}
  &:hover{
    &:before{background-position:right bottom;}
  }
}
.imageOnScreen{width:100%;height:0;background-size:cover;background-position:center center;padding-bottom: 70%;}