@import '../foundation/foundation.scss';
@import '../foundation/settings.scss';

@font-face {
    font-family: 'icomoon';
    src:
        url('./icons/icomoon.ttf') format('truetype'),
        url('./icons/icomoon.woff') format('woff'),
        url('./icons/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    //font-size:32px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* set variables */
.loading {
  pointer-events: none;
  img{position:relative;top:-2px;}
}

/* less.css custom mixins */
/* create a niue blur effect */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: middle;
  /*was baseline*/
  background: transparent;
}
html {
  height: 100%;
}
body {
  line-height: 1;
  font-family: $body-font-family;
  min-height:100%;
  height:100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
  width: 100%;
}
button {
  border: 0px;
  outline: 0;
}
a {
  text-decoration: none;
}
li,
ul {
  list-style: none;
}
* {
  -webkit-text-size-adjust: none;
  /* prevent padding to add size */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,
textarea,
select {
  outline: none;
}
input,
textarea {
  -webkit-user-select: auto;
}
textarea {
  resize: none;
}
body strong {
  font-weight: bold;
  font-size: 0.8em;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  /* display: inline-block;*/
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
a {
  color: #0d0d0d;
}
a:active,
a:hover {
  color: #000;
}
a.active {
  font-weight: bold;
}
body {
  font-size: 14px;
  font-weight: 300;
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body, body * {
  font-family: $body-font-family;
  font-weight: 400;
}
body, html, #root, .page-wrapper {
  position: relative;
  min-height: 100%;
  height:100%;
}
#currentScreen{min-height:100%;height:100%;}
.page-wrapper {
  //padding: 0 0 150px; /* bottom = footer height + 50px padding */
  //height: 100%;
}

body.direction-rtl .block,
body.direction-rtl input,
body.direction-rtl label,
body.direction-rtl button,
body.direction-rtl h3 {
  direction: rtl;
}
body.direction-rtl label {
  text-align: right;
}
body.direction-rtl .locale-text-align {
  text-align: right;
}
body.direction-ltr .locale-text-align {
  text-align: left;
}
/*reusable custom style*/


/*olga*/

#root{overflow-x:hidden;}
.vAlign{position:relative;    margin-right: 0;  margin-left: 0;}
.clearfix{clear:both;}
.absolute{position:absolute}
.relative{position:relative;}
.topPad{height:rem-calc(55);}
.pagination{top:0;right:-159px; font-size:$title-font-size;font-weight:700;position:fixed!important;top:1%!important;right:3%!important;z-index:1;
  .huge{font-size:rem-calc(200px);    font-weight: 700;    line-height: 0.8;display:inline-block;vertical-align:bottom;letter-spacing:-21px;}
  .tiny{font-size:$title-font-size;font-weight:300;line-height:0.9;}
}
.bottomLeftImg{position: fixed;  bottom: 0%;  left: 0;}
body h1{font-size:$title-font-size;color:$pure-white;text-align:center;    line-height: 1.2;margin-bottom:rem-calc(16);letter-spacing:-1px;}
body h1.businessTitle{font-weight:300;text-align:left;margin-bottom:rem-calc(27);}
label{position:relative;}
.description{font-size:$description-font-size;line-height:rem-calc(24);text-align:center;color:$pure-white;font-weight:300;
  &.black{color:$pure-black;}
  span{font-weight:300;}
}
.pageWrap{min-height:100%;}
div.error {
  input,select,textarea {    background-color: $input-error-bg-color !important;  }
}
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], body textarea, body select{color:$input-color;font-size:$input-font-size;box-shadow:none!important;line-height: $input-height;  height: $input-height;/*border:solid 2px $pure-white;*/background-color:$input-bg-color!important;margin-bottom:rem-calc(4);padding-left:rem-calc(15);border-radius:3px;border:none;}
[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus{background-color:$pure-white!important;border:none;}
body select{line-height:1.2; color: $placeholder-color;
  &:focus{color: $black;}
  &.optionChosen{color: $black;}
}
::-webkit-input-placeholder {color: $placeholder-color; font-size:$input-font-size}
:-moz-placeholder {color: $placeholder-color; font-size:$input-font-size}
::-moz-placeholder {color: $placeholder-color; font-size:$input-font-size}
:-ms-input-placeholder {color: $placeholder-color; font-size:$input-font-size}
body button.button, body button.button.large{font-size:rem-calc(24);font-weight:400;color:$pure-white;line-height:$btn-height;    padding: 0 16px;border:none;background-color:$button-blue;transition:background-color 0.2s;}
body button.button:hover{background-color:$button-hover-blue;}
.borderLeft{border-bottom-left-radius: 3px; border-top-left-radius: 3px; border-bottom-right-radius:0px;border-top-right-radius:0px;}
.borderRight{border-bottom-right-radius: 3px; border-top-right-radius: 3px;border-bottom-left-radius: 0px; border-top-left-radius: 0px;}
.borderNone{border-bottom-right-radius: 0px; border-top-right-radius: 0px;border-bottom-left-radius: 0px; border-top-left-radius: 0px;}
.grey{color:$grey;}
.errorMessage{line-height:rem-calc(30);color:$pure-white;font-weight:300;font-size:$rem-base;background-color:$error-color;padding-left:rem-calc(10);text-align:left;width:99%;margin:0 auto;height:0px; transition: height 0.2s;overflow:hidden;}
.error .errorMessage{height:rem-calc(30);}
body textarea{height:rem-calc(120);    line-height: 1.5;  padding-top: 16px;}

/*phone*/
.phone{background-image:url("images/imge_page_selectcolors_device.png");background-repeat:no-repeat;max-width:rem-calc(460);margin:0 auto;height:0;    padding-bottom: 160%;position:relative;background-size:cover;
  .inner{width:73.5%;max-width:rem-calc(319);border:solid 2px rgba(0,0,0,0.3);margin:0 auto; position:relative; top:rem-calc(42);border-radius:3px;
    .topPas{width:100%;height:rem-calc(43);padding-top:rem-calc(17); border-bottom: $gentle-border;
      .dynamic{width:50%;height:rem-calc(10);margin:0 auto;border-radius:10px;background-color:rgba(255,255,255,0.5);}
    }
  }
}
.phone.bright .inner {
  .topPas {
      .dynamic {background-color: rgba(0, 0, 0, 0.5);    }
  }
}
  .iconColumnWrap{width:50%;margin:4% 0;}
  .iconColumn{width:46%;height:0;padding-bottom:44%;border-radius:50%;margin:0 auto;border:$gentle-border;}
  .iconBorder{width:64%;height:0; padding-bottom:6%;background-color:#c8cccd; margin:0 auto;border-radius:5px;margin-top:8%;}
  .welcomeImages{text-align:center;
    img{max-width:rem-calc(270);width:79%;}
  }
  .btnWrap{text-align:center;}
.btnWrap button{border-radius:25px; max-width:rem-calc(150);
  &.loading{background-color:$button-on-blue-hover-blue!important;}
}
.home .btnWrap button{padding-top:0px!important;padding-bottom:0px!important;}
.subtitle{font-weight:300;font-size:rem-calc(24);color:$subtitle-color;line-height:rem-calc(32);}
.feature{font-weight:700;font-size:rem-calc(14);color:$subtitle-color;line-height:rem-calc(18);}
.description{font-weight:400;font-size:rem-calc(14);color:$black;}

/*google maps input*/
.geosuggest__input{margin-bottom:rem-calc(1);}
ul.geosuggest__suggests{background-color:$pure-white;borde-radius:3px;overflow:hidden;height:auto;max-height:500px;transition:all 0.3s;position: absolute;
  z-index: 5;
  padding: 0 10px;
  width: 100%;
  &.geosuggest__suggests--hidden{max-height:0;}
  li{cursor:pointer;
    &:first-child{margin-top:10px;}
    &:last-child{margin-bottom:10px;}
    &:hover{background-color:$gentle-blue;}
  }
}

.row{max-width:rem-calc(850);}
-webkit-autofill{display:none!important;}

.vAlign{opacity:0;position:absolute;width:100%;
  &.visible{/*opacity:1;*/}
}
.pagination{opacity:0;transition: 1s opacity;display:none;
  &.visible{opacity:1;display:block;}
}
.bottomLeftImg{opacity:0;transition: 1s opacity;display:none;
  &.visible{opacity:1;display:block;}
}

.pageWrap.show .pagination, .pageWrap.show .bottomLeftImg{display:block;}
.pageWrap{position:absolute;width:100%;top:0;left:100%;}
.pageWrap.home{left:0;}

.pagination{-webkit-animation-duration: .5s;-moz-animation-duration: .5s;-ms-animation-duration: .5s;}
.bottomLeftImg{-webkit-animation-duration: .3s;-moz-animation-duration: .3s;-ms-animation-duration: .3s;}
.vAlign{/*-webkit-animation-duration: .5s;-moz-animation-duration: .5s;-ms-animation-duration: .5s;*/}
.paletteWrap{}

#step1,#step2,#step3,#step4{left:100%;}

.slick-track{transition:all 0.3s ease-in-out !important;}

@media only screen and (max-width: 800px) {
  .home .logo{padding-top:rem-calc(5);padding-left:rem-calc(5);
    img{width:rem-calc(50)}
  }
}